﻿@model MyMSACS.Models.DegreeRequirement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DegreeRequirement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequirementNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequirementNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequirementAbbrev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequirementAbbrev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequirementName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequirementName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Degree.DegreeAbbrev)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeRequirementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
